@{
    ViewData["Title"] = "Table";
}

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/dx.common.css" />
    <link rel="dx-theme" data-theme="generic.light" href="~/css/dx.light.css" />
    <link href="~/css/GridStyle.css" rel="stylesheet" />
    <script type="text/javascript" src="~/dist/jszip.min.js"></script>
    <script src="~/js/dx.all.js"></script>
</head>
<body class="dx-viewport">
    @*<input type="button" value="Importavimas" />*@

    <div class="demo-container">
        <div input id="datebox"></div>
        <div id="gridContainer"></div>
        <div id="pivotgrid-demo">
            <div id="pivotgrid-chart"></div>
            <div id="pivotgrid"></div>
        </div>
    </div>
</body>
<script src="~/js/monthregs.js"></script>
<script src="~/js/monthregspivot.js"></script>
<!-- <script src="~/js/data.js"></script> -->


