<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FB2SQL.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="FB2SQL.Properties.Settings.FBConnString" connectionString="Dsn=DLREGTA32;uid=SYSDBA;pwd=masterkey" />
        <add name="FB2SQL.Properties.Settings.SQLConnString" connectionString="Dsn=DLREGlocal;uid=dlreg;pwd=budr.1K0" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <FB2SQL.Properties.Settings>
            <setting name="DLRegAPI" serializeAs="String">
                <value>http://localhost:60525/api/</value>
            </setting>
        </FB2SQL.Properties.Settings>
    </applicationSettings>
</configuration>